.purple-bg {
    -fx-background-color: #e8e7ef;
    -fx-padding: 5 5 5 5;
}

.light-purple-bg {
    -fx-background-color: #f8f7ff;
    -fx-padding: 5 5 5 5;
}

.text-header {
    -fx-font-family: "sans-serif";
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

.text-body {
    -fx-font-family: "sans-serif";
    -fx-font-size: 12pt;
}

.canvas {
    -fx-background-color: white;
}

.command-line {
    -fx-control-inner-background: #f8f7ff;
    -fx-font-family: Consolas;
    -fx-highlight-fill: #e6e2ff;
    -fx-highlight-text-fill: #2e2370;
}

.sidebar {
    -fx-padding: 5 5 5 10;
    -fx-background-color: #f8f7ff;
    /*-fx-background-color: white;*/
}

.sidebar-box {
    -fx-border-color: #f8f7ff;
    -fx-border-type: outside;
    -fx-border-width: 3pt;
    -fx-border-radius: 12px;

    -fx-fill: rgba(0,0,0,0);
}

.sidebar-box:hover {
    -fx-border-color: #b5aee2;
    -fx-cursor: hand;
}

.variable-view {
    -fx-background-color: #f8f7ff;
    -fx-padding: 0 10 0 10;
}

.background-button .label {
    -fx-graphic: url("background_button.png");
    -fx-padding: 0;
}

.pen-color-button .label {
    -fx-graphic: url("pen_color_button.png");
    -fx-padding: 0;
    -fx-label-padding: 0;
}

.color-picker .arrow, .color-picker .arrow-button {
    -fx-padding: 0;
}

.color-picker {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-color: transparent;
    /*-fx-border-style: solid;*/
    /*-fx-border-color: black;*/
    /*-fx-border-width: 5pt;*/
}
