.bg-theme {
    -fx-background-color: #F4FFCE;
    -fx-padding: 5 5 5 5;
}

.light-bg-theme {
    -fx-background-color: #EBFFA5;
    -fx-padding: 5 5 5 5;
}

.lit-bg-theme {
    -fx-background-color: #EBFFA5;
    -fx-padding: 5 5 5 5;
}

.text-header {
    -fx-font-family: "sans-serif";
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

.text-body {
    -fx-font-family: "sans-serif";
    -fx-font-size: 12pt;
}

.canvas {
    -fx-background-color: white;
}

.sidebar {
    -fx-padding: 5 5 5 10;
    -fx-background-color: #F3FFC4;
    /*-fx-background-color: white;*/
}

.sidebar-box {
    -fx-border-color: #F3FFC4;
    -fx-border-type: outside;
    -fx-border-width: 3pt;
    -fx-border-radius: 12px;

    -fx-fill: rgba(0,0,0,0);
}

.sidebar-box:hover {
    -fx-border-color: #B8E026;
    -fx-cursor: hand;
}

.variable-view {
    -fx-padding: 10 10 10 10;
}

.variable-view-bg {
    -fx-background: #F3FFC4;
}

.history-view {
    -fx-padding: 10 10 10 10;
}

.history-view-bg {
    -fx-background: #F3FFC4;
}

.command-view {
    -fx-padding: 10 10 10 10
}

.command-view-bg {
    -fx-background: #FBFFD1;
}

/* dirty hacks to make the color picker work */

.background-button .label {
    -fx-graphic: url("background_button.png");
    -fx-padding: 0;
}

.pen-color-button .label {
    -fx-graphic: url("pen_color_button.png");
    -fx-padding: 0;
    -fx-label-padding: 0;
}

.color-picker .arrow, .color-picker .arrow-button {
    -fx-padding: 0;
}

.color-picker {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-color: transparent;
}
